# Core libraries
flask==2.0.1
flask-cors==3.0.10

# Application server for production
gunicorn==20.1.0

# Machine learning & data processing
torch
numpy
scikit-learn

# AI and NLP packages
google-generativeai
transformers

# Environment variables management
python-dotenv

# Pin Werkzeug to a version that supports `url_quote`
Werkzeug==2.0.3
keras==3.5.0
